<div class="modal fade" id="add-category" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Add category</h4>
            </div>
            <form role="form" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category-name">Category name</label>
                        <input type="text" class="form-control" id="category-name" name="category-name" placeholder="Enter name" required="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Close</button>
                    <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){

        var create_category = $('div#add-category form');
        create_category.submit(function(e){
            e.preventDefault();

            $.post(
                "{{ url_for('category.create') }}",
                create_category.serializeArray(),
                function (result){
                    if(result.status == 'ok'){
                        location.reload(true);
                    }else{
                        alert('An error occured.');
                    }
                },
                'json'
            );
        });
    });
</script>