html {
    height: 100%;

    body {
        height: 100%;
        font-family: Arial,sans-serif;
        font-size: 12px;
    }
}

.overlay {
    display: table;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10000;

    .spinner {
        display: table-cell;
        vertical-align: middle;
        text-align: center;

        i {
            color: #fff;
            font-size: 100px;
            animation: spin 1s infinite linear;

            @keyframes spin {
                from { transform: scale(1) rotate(0deg); }
                to { transform: scale(1) rotate(360deg); }
            }
        }
    }
}

#wrap {
    width: 100%;
    height: 100%;

    .navbar-header {
        .navbar-brand {
            height: 40px;
        }
    }
}

#rss {
    width: 100%;
    height: 100%;
    padding: 47px 0 0 0;
    margin: 0;
}

#channels {
    height: 100%;
    overflow: auto;
    border-right: 1px dashed gray;

    li {
        img.favicon-url {
            height: 16px;
            width: 16px;
            border: 0;
        }

        &.feed {
            a {
                padding-right: 5px !important;
                display: block;
                .feed-title {
                    overflow: hidden;
                    height: 18px;
                }
            }
        }
    }
}

#feeds {
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;

    .select-feed {
        display: table;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: #efefef;

        .inner {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            color: #343434;
        }
    }

    #list {
        height: 50%;
        width: 100%;
        overflow: auto;

        &.full-height {
            height: 100% !important;
        }

        .feed-list {
            height: 100%;
            width: 100%;
            margin-bottom: 0;
            overflow: auto;
            tr {
                cursor: hand;
                cursor: pointer;

                &.bold {
                    td {
                        span.title {
                            font-weight: bold;
                        }
                    }
                }
                &.fixer {
                    border: 0;
                    padding: 0;
                    margin: 0;

                    td {
                        border: 0;
                        height: 0;
                        padding: 1px;
                    }
                }
                td {
                    max-width: 0;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    &.entry{
                        color: #bbb;
                        span.title, span.pull-right {
                            color: #000;
                        }
                        span.summary {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }

    #content {
        height: 50%;
        width: 100%;
        overflow: auto;
        border-top: 1px dashed gray;
    }
}

.container { width: auto; margin: 0 15px;}
section.rss-entry {
    margin: 0 !important;

    article img {
        max-width: 100%;
    }

    header {
        font-size: 20px;
        margin-top: 10px !important;
    }
}

.navbar {
    margin-bottom: 0 !important;
    min-height: 30px !important;
}

ul.nav {
    li {
        button {
            margin-top: 8px;
            margin-right: 8px;
        }
    }
}

.pointer {cursor: hand; cursor: pointer;}

/**** off-canvas ****/
@media screen and (max-width: 767px) {
    html, body {overflow-x: hidden;}

    .row-offcanvas {
        position: relative;
        transition: all .25s ease-out;
    }
    .row-offcanvas-right {
        right: 0;

        &.active {
            right: 80%;
        }

        .sidebar-offcanvas {
            right: -80%;
        }
    }

    .row-offcanvas-left {
        left: 0;

        &.active {
            left: 80%;
        }

        .sidebar-offcanvas {
            left: -80%;
            padding: 50px 5px 5px 5px;
        }
    }

    .sidebar-offcanvas {position: absolute; top: 0; width: 80%;}
}

.navbar-off-canvas {float: left; padding: 9px 10px; margin-left: 15px;}

.badge.new-entries { background: #337ab7; }

.alert.failed-load-categories {
    position: absolute;
    top: 100px;
    right: 100px;
    width: 500px;
    z-index: 99999;

    .btn {
        display: inline;
    }

    @media screen and (max-width: 767px) {
        position: absolute;
        top: 100px;
        right: 40px;
        left: 40px;
    }
}
