<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>WebRSS</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ url_for('static', filename='default.css') }}" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->

    <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-sanitize.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-resource.min.js"></script>

    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    <script src="{{ url_for('static', filename='js/controllers.js') }}"></script>
    <script src="{{ url_for('static', filename='js/directives.js') }}"></script>

</head>
{% raw %}
<body ng-app="webrssApp" ng-controller="RSSCtrl">
    <div id="wrap">
        <header class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <button type="button" class="navbar-toggle navbar-off-canvas" data-toggle="offcanvas">
                        <!--<span class="sr-only">Toggle navigation</span>-->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">WebRSS</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <button class="btn btn-primary btn-sm" ng-click="createUpdateCategory()">
                                <i class="glyphicon glyphicon-plus"></i> Add category
                            </button>
                        </li>
                        <li>
                            <button class="btn btn-primary btn-sm" ng-click="createFeed()">
                                <i class="glyphicon glyphicon-plus"></i> Add feed
                            </button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form class="navbar-form navbar-left search" role="search" id="search" ng-submit="doSearch()">
                                <div class="form-group">
                                    <input name="phrase"
                                           type="text"
                                           class="form-control input-sm"
                                           placeholder="Search"
                                           required
                                           ng-model="search" />
                               </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="row row-offcanvas row-offcanvas-left" id="rss">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="channels">
                <span ng-repeat="category in feeds.categories.objects">
                    <h4 data-category-id="{{ category.id }}" title="{{ category.title }}">
                        {{ category.title }}
                        <span class="pull-right">
                            <i class="glyphicon glyphicon-arrow-up pointer" ng-click="moveUpCategory(category)" title="Move this category up"></i>
                            <i class="glyphicon glyphicon-arrow-down pointer" ng-click="moveDownCategory(category)" title="Move this category down"></i>
                            <i class="glyphicon glyphicon-plus pointer" ng-click="createFeed(category)" title="Add feed in this category"></i>
                            <i class="glyphicon glyphicon-edit pointer" ng-click="createUpdateCategory(category)" title="Edit this category"></i>
                            <i class="glyphicon glyphicon-trash pointer" ng-click="deleteCategory(category)" title="Delete this category"></i>
                        </span>
                    </h4>
                    <feed-select feeds="category.feeds"
                                 ng-model="feeds.selected"
                                 update-action="updateFeed"
                                 delete-action="deleteFeed">
                    </feed-select>
                </span>
            </div>
            <div class="col-xs-12 col-sm-9" id="feeds">
                <div id="list">
                    <table class="table table-hover table-condensed feed-list">
                        <thead>
                        <tr class="row">
                            <th class="col-md-7">Title</th>
                            <th class="col-md-3">Author</th>
                            <th class="col-md-2">Date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="entry in feeds.entries.list.objects"
                            class="row {{ entry.read_at ? '' : 'bold' }}"
                            ng-class="{active: entry.id == feeds.entries.current.id, info: entry.new_entry}"
                            ng-click="feeds.entries.current = entry">
                            <td class="col-md-7">{{ entry.title }}</td>
                            <td class="col-md-3">{{ entry.author }}</td>
                            <td class="col-md-2">{{ entry.published_at }}</td>
                        </tr>
                        <tr ng-show="feeds.entries.list.meta.next">
                            <td colspan="4" class="text-center">
                                <span class="read-feed btn btn-default"
                                      ng-click="loadMore(feeds.entries.list.meta.next)">
                                      Load more
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="content">
                    <section class="rss-entry container" ng-show="feeds.entries.current">
                        <header class="page-header">{{ feeds.entries.current.title }}</header>
                        <article ng-bind-html="safe(feeds.entries.current.summary)"></article>
                        <footer><a target="_blank" href="{{ feeds.entries.current.link }}">Read</a></footer>
                    </section>
                </div>
            </div>
        </div>

        <footer id="footer">
            &copy; 2015
            <a href="http://danielczuba.pl" title="Daniel Alkemic Czuba">
                Daniel Czuba
            </a>
        </footer>

    </div><!-- /#wrap -->
    <script type="text/ng-template" id="category_form.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">{{ category.id ?  'Update category "' + category.title + '"' : 'Add category' }}</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error }}
            </div>

            <div class="form-group">
                <label for="category-name">Category name</label>
                <input type="text" class="form-control" id="category-name" ng-model="form.title" placeholder="Enter name" required="">
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" ng-click="save()">
                <i class="glyphicon glyphicon-save"></i> Save
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="category_delete.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Delete category</h4>
        </div>
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error }}
            </div>

        <div class="modal-body">
            <div class="form-group">
                Do you really want to delete category "{{ category.title }}"?
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove"></i> Cancel
            </button>
            <button type="submit" class="btn btn-primary" ng-click="ok()">
                <i class="glyphicon glyphicon-ok"></i> OK
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="feed_create.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Add feed</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error }}
            </div>

            <div class="form-group">
                <label for="url">Feed url</label>
                <input type="url" class="form-control" id="url" placeholder="Enter url" required="required" ng-model="form.feed_url">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" placeholder="Select category" required="required" ng-model="form.category">
                    <option ng-repeat="category in categories" value="{{ category.id }}" ng-selected="form.category == category.id">{{ category.title }}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" ng-click="save()">
                <i class="glyphicon glyphicon-save"></i> Save
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="feed_update.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Update feed "{{ feed.feed_title }}"</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error }}
            </div>

            <div class="form-group">
                <label for="url">Feed title</label>
                <input type="text" class="form-control" id="feed_title" placeholder="Enter feed title" required="required" ng-model="form.feed_title">
            </div>
            <div class="form-group">
                <label for="site_favicon_url">Feed favicon</label>
                <input type="url" class="form-control" id="site_favicon_url" placeholder="Enter url" required="required" ng-model="form.site_favicon_url">
            </div>
            <div class="form-group">
                <label for="url">Feed url</label>
                <input type="url" class="form-control" id="url" placeholder="Enter url" required="required" ng-model="form.feed_url">
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select class="form-control" id="category" placeholder="Select category" required="required" ng-model="form.category">
                    <option ng-repeat="category in categories" value="{{ category.id }}" ng-selected="form.category == category.id">{{ category.title }}</option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove"></i> Close
            </button>
            <button type="submit" class="btn btn-primary" ng-click="save()">
                <i class="glyphicon glyphicon-save"></i> Save
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="feed_delete.html">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Delete feed</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-danger alert-dismissible" role="alert" ng-show="error">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{ error }}
            </div>

            <div class="form-group">
                Do you really want to delete feed "{{ feed.feed_title }}"?
            </div>
        </div>
        <div class="modal-footer">
            <button type="reset" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
                <i class="glyphicon glyphicon-remove"></i> Cancel
            </button>
            <button type="submit" class="btn btn-primary" ng-click="ok()">
                <i class="glyphicon glyphicon-ok"></i> OK
            </button>
        </div>
    </script>

    <script type="text/ng-template" id="feed-select.html">
        <ul class="nav nav-pills nav-stacked resource-list">
            <li ng-repeat="feed in feeds"
                class="feed"
                data-feed-id="{{ feed.id }}"
                ng-class="{active: feed.id == selected.id}"
                ng-click="doSelect(feed);">
                <a data-feed-id="{{ feed.id }}">
                    <img class="favicon-url" src="{{ feed.site_favicon_url }}">
                    <span class="feed-title">{{ feed.feed_title }}</span>
                    <span class="pull-right">
                        <span class="badge"
                              ng-class="{'new-entries': feed.new_entries}">
                            {{ feed.un_read }}
                        </span>
                        &nbsp;<i class="glyphicon glyphicon-trash pointer"
                                 ng-click="$event.stopPropagation(); deleteAction(feed);"
                                 title="Delete this feed"></i>
                        &nbsp;<i class="glyphicon glyphicon-edit pointer"
                                 ng-click="$event.stopPropagation(); updateAction(feed);"
                                 title="Edit this feed"></i>
                    </span>
                </a>
            </li>
        </ul>
    </script>

</body>
</html>
{% endraw %}
