<table class="table table-hover table-condensed feed-list">
    <thead>
    <tr class="row">
        <th class="col-md-7">Title</th>
        <th class="col-md-3">Author</th>
        <th class="col-md-2">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for entry in entries %}
    <tr class="row {{ '' if entry.is_read else 'bold' }}" data-entry-id="{{ entry.id }}" data-feed-id="{{ entry.feed.id }}">
        <td class="col-md-7">{{ entry.title }}</td>
        <td class="col-md-3">{{ entry.author }}</td>
        <td class="col-md-2">{{ entry.published_at }}</td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan="4" class="text-center">
            <span data-page="{{ page }}" class="read-feed btn btn-default" data-feed-id="{{ feed_id }}">Load more</span>
        </td>
    </tr>
    </tbody>
</table>
